[user]
    name = nicolaschristianwipfler
    email = nicolas.wipfler@gmail.com
[core]
    editor = code
    excludesfile = ~/.git-global-exclude
[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = nicolas.wipfler@gmail.com
    smtpserverport = 587
    from = nicolas.wipfler@gmail.com
    chainreplyto = false
    suppresscc = self
[alias]
    lg = log --pretty=oneline --abbrev-commit
    history = log --color --graph --pretty=format:'%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short